<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="pt.ua.travis" >


    <!-- PERMISSIONS -->
    <permission android:name="com.google.cloud.backend.permission.C2D_MESSAGE"
                android:protectionLevel="signature" />

    <uses-permission android:name="com.google.cloud.backend.permission.C2D_MESSAGE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <permission
        android:name="pt.ua.travis.maps.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" >
    </permission>

    <uses-permission android:name="pt.ua.travis.maps.permission.MAPS_RECEIVE" />
    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_GSERVICES" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />

    <!-- To retrieve the account name (email) as part of sign-in: -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <!-- To auto-complete the email text field in the login form withUser the user's emails -->
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />






    <!-- FEATURES -->
    <uses-feature android:glEsVersion="0x00020000" android:required="true" />
    <uses-feature android:name="android.hardware.nfc" android:required="true" />
    <uses-feature android:name="android.hardware.location" android:required="true" />
    <uses-feature android:name="android.hardware.location.gps" android:required="false" />
    <uses-feature android:name="android.hardware.camera" android:required="false" />
    <uses-feature android:name="android.hardware.camera.autofocus" android:required="false" />






    <!-- ACTIVITIES -->
    <application android:name=".core.TravisApplication"
                 android:allowBackup="true"
                 android:configChanges="keyboardHidden|orientation|screenSize"
                 android:icon="@drawable/ic_launcher"
                 android:label="@string/app_name"
                 android:theme="@style/Theme.Travis" >

        <!--<uses-library android:name="com.google.android.maps" />-->

        <activity android:name=".core.SplashScreenActivity"
                  android:windowSoftInputMode="adjustResize|stateHidden"
                  android:screenOrientation="portrait"
                  android:configChanges="orientation|keyboardHidden" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.login.LoginActivity"
                  android:windowSoftInputMode="adjustPan"
                  android:screenOrientation="portrait"
                  android:configChanges="orientation|keyboardHidden" />
        <activity android:name=".ui.login.SignUpActivity"
                  android:windowSoftInputMode="adjustPan"
                  android:screenOrientation="portrait" />
        <activity android:name=".ui.main.MainClientActivity"
                  android:screenOrientation="portrait"
                  android:configChanges="orientation|keyboardHidden"
                  android:launchMode="singleTop" />
        <activity android:name=".ui.main.MainTaxiActivity"
                  android:screenOrientation="portrait"
                  android:configChanges="orientation|keyboardHidden"
                  android:launchMode="singleTop" />
        <activity android:name=".ui.travel.AuthenticationClientActivity"
                  android:screenOrientation="portrait"
                  android:configChanges="orientation|keyboardHidden" />
        <activity android:name=".ui.travel.AuthenticationTaxiActivity"
                  android:screenOrientation="portrait"
                  android:configChanges="orientation|keyboardHidden" />
        <activity android:name=".ui.travel.TravelToOriginActivity"
                  android:screenOrientation="portrait"
                  android:configChanges="orientation|keyboardHidden" />
        <activity android:name=".ui.travel.TravelToDestinationActivity"
                  android:launchMode="singleTop"
                  android:screenOrientation="portrait"
                  android:configChanges="orientation|keyboardHidden" />
        <activity android:name=".ui.login.GoogleDrivePicker"
                  android:screenOrientation="portrait"/>
        <activity android:name="com.paypal.android.sdk.payments.PaymentActivity"
                  android:screenOrientation="portrait" />
        <activity android:name="com.paypal.android.sdk.payments.LoginActivity"
                  android:screenOrientation="portrait" />
        <activity android:name="com.paypal.android.sdk.payments.PaymentMethodActivity"
                  android:screenOrientation="portrait" />
        <activity android:name="com.paypal.android.sdk.payments.PaymentConfirmActivity"
                  android:screenOrientation="portrait" />
        <activity android:name="com.paypal.android.sdk.payments.PayPalFuturePaymentActivity"
                  android:screenOrientation="portrait" />
        <activity android:name="com.paypal.android.sdk.payments.FuturePaymentConsentActivity"
                  android:screenOrientation="portrait" />
        <activity android:name="com.paypal.android.sdk.payments.FuturePaymentInfoActivity"
                  android:screenOrientation="portrait" />
        <activity android:name="io.card.payment.CardIOActivity"
                  android:screenOrientation="portrait"
                  android:configChanges="keyboardHidden|orientation" />
        <activity android:name="io.card.payment.DataEntryActivity"
                  android:screenOrientation="portrait" />
        <activity android:name=".ui.travel.ReadTag"
                  android:screenOrientation="portrait"
                  android:label="@string/title_activity_readtag">
            <intent-filter>
                <action   android:name="android.nfc.action.NDEF_DISCOVERED" />
                <data     android:mimeType="application/com.elsinga.sample.nfc" />
            </intent-filter>
        </activity>




        <!-- SERVICES -->
        <service android:name="com.paypal.android.sdk.payments.PayPalService"
                 android:exported="false" />




        <!-- META-DATA -->
        <!-- Google Maps API key for the application -->
        <meta-data android:name="com.google.android.maps.v2.API_KEY"
                   android:value="AIzaSyBIoQSloN_-hofV7zbgU_F9DBi1YkkkZV4" />

        <!-- Reference to the Google Play services version -->
        <meta-data android:name="com.google.android.gms.version"
                   android:value="@integer/google_play_services_version" />

        <!-- Reference to the Facebook API key -->
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/app_id" />




    </application>

</manifest>
