<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pt.ua.travis" >

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" >
    </uses-feature>

    <permission
        android:name="com.google.cloud.backend.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.google.cloud.backend.permission.C2D_MESSAGE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <permission
        android:name="pt.ua.travis.maps.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" >
    </permission>

    <uses-permission android:name="pt.ua.travis.maps.permission.MAPS_RECEIVE" />
    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_GSERVICES" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <!-- Specifies application requirement for OpenGL ES version 2. -->
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <uses-feature android:name="android.hardware.nfc" android:required="true" />

    <!--
        To retrieve OAuth 2.0 tokens or invalidate tokens to disconnect a user. This disconnect
        option is required to comply withUser the Google+ Sign-In developer policies
    -->
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />

    <!-- To retrieve the account name (email) as part of sign-in: -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <!-- To auto-complete the email text field in the login form withUser the user's emails -->
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:name="pt.ua.travis.core.TravisApplication"
        android:allowBackup="true"
        android:configChanges="keyboardHidden|orientation|screenSize"
        android:icon="@drawable/cabs"
        android:label="@string/app_name"
        android:theme="@style/Theme.Travis" >

        <uses-library android:name="com.google.android.maps" />

        <activity
            android:name="pt.ua.travis.ui.login.LoginActivity"
            android:windowSoftInputMode="adjustResize|stateHidden" >
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN"/>-->
                <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        </activity>
        <activity android:name="pt.ua.travis.ui.login.SignUpLastStepsActivity" >
        </activity>
        <activity android:name=".nfc.NFCActivity">
            <intent-filter>
                <!--<action android:name="android.intent.action.MAIN"/>-->
                <!--<category android:name="android.intent.category.LAUNCHER" />-->
                <action android:name="android.nfc.action.TAG_DISCOVERED" />
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />
                <!--<category android:name="android.intent.category.DEFAULT" />-->
                <!--<data android:mimeType="text/plain" />-->
            </intent-filter>
        </activity>
        <activity android:name="pt.ua.travis.ui.mainscreen.MainClientActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="pt.ua.travis.ui.mainscreen.MainTaxiActivity" >
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN"/>-->
                <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        </activity>
        <activity android:name="pt.ua.travis.ui.taxiridesetup.WaitForTaxiActivity" />
        <activity android:name="pt.ua.travis.ui.travel.AuthenticationClientActivity" />
        <activity android:name="pt.ua.travis.ui.travel.AuthenticationTaxiActivity" />
        <activity android:name="pt.ua.travis.ui.travel.TravelToOriginActivity" />
        <activity
            android:name="pt.ua.travis.ui.travel.TravelToDestinationActivity"
            android:launchMode="singleTop" />
        <activity android:name="pt.ua.travis.ui.travel.PaymentActivity" />
        <activity android:name="pt.ua.travis.wallet.WalletActivity" />
        <activity
            android:name="com.chute.android.photopickerplus.ui.activity.ServicesActivity"
            android:label="@string/app_name"
            android:theme="@style/PhotoPickerTheme" >
        </activity>
        <activity
            android:name="com.chute.android.photopickerplus.ui.activity.AssetActivity"
            android:theme="@style/PhotoPickerTheme" >
        </activity>
        <activity
            android:name="com.chute.sdk.v2.api.authentication.AuthenticationActivity"
            android:configChanges="orientation|screenSize" />

        <service android:name="com.dg.libs.rest.services.HTTPRequestExecutorService" />

        <!-- test activities -->
        <activity
            android:name="pt.ua.travis.backend.sample.guestbook.GuestbookActivity"
            android:configChanges="orientation|screenSize" >
        </activity>
        <activity
            android:name="pt.ua.travis.backend.sample.guestbook.IntroductionActivity"
            android:parentActivityName="pt.ua.travis.backend.sample.guestbook.GuestbookActivity"
            android:screenOrientation="portrait" >

            <!-- If you use the Android SDK 15 or less, the attributes android:parentActivityName doesn't work -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.google.cloud.backend.sample.guestbook.GuestbookActivity" />
        </activity>
        <!-- end of test activities -->

        <service android:name="pt.ua.travis.backend.GCMIntentService" />

        <receiver
            android:name="com.google.android.gcm.GCMBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="com.google.cloud.solutions.sampleapps.mobilebackend" />
            </intent-filter>
        </receiver>

        <!-- Google Maps API key for the application -->
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyDOFFfyFRMg3qNafVikifnx8MPyhylaQbY" />

        <!-- Reference to the Google Play services version -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

    </application>

</manifest>
